.text {
    color: whitesmoke;
}
#info {
    overflow: hidden;
}
audio {
    width: 1300px;
}

#currSong {
    float: left;
}
#nextSong {
    float: right;
}


.buttonActive {
    color: green;
}
.buttonDisabled  {
    color: black;
}