mat-grid-tile {
    background: #212121;
}
mat-grid-list {
    height: 100%;
    width: 100%;
    background: black;
    
}

#routerContent ::ng-deep figure {
    justify-content: flex-start;
    align-items: flex-start;
 }